.SearchBar input {
  border-radius: 10px;
  border: 2px solid #fce59b;
  background-color: #fffcf0;
  padding-left: 40px;
  margin-bottom: 5px;
}

.SearchIcon {
  position: absolute;
  height: 2.5rem;
  padding: 9px 15px;
  padding-left: 13px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}

.FilterButton {
  color: rgb(0, 0, 0, 0.75);
  background-color: #bae3ff;
  border: 2px solid #78b0d6;
  padding: 10px 13px 7px 10px;
  width: 100%;
  margin-bottom: 10px;
}

.FilterButton:hover,
.FilterButton:hover:active,
.FilterButton:active,
.FilterButton:focus {
  background-color: #78b0d6;
  border: 2px solid #78b0d6;
  color: rgb(0, 0, 0, 0.9);
}

.CategoryFilterButton {
  color: rgb(0, 0, 0, 0.75);
  border: 2px solid;
  padding: 0;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 500;
}

.FluffyCategoryFilter {
  background-color: #e1a2f5;
  border-color: #d062f1;
}

.FluffyCategoryFilter:hover,
.FluffyCategoryFilter:hover:active,
.FluffyCategoryFilter:active,
.FluffyCategoryFilter:focus {
  background-color: #d062f1;
  color: #242a3d;
  border-color: transparent;
}

.ScalyCategoryFilter {
  background-color: #88d8c1;
  border-color: #5ea591;
}

.ScalyCategoryFilter:hover,
.ScalyCategoryFilter:hover:active,
.ScalyCategoryFilter:active,
.ScalyCategoryFilter:focus {
  color: #242a3d;
  background-color: #4db497;
  border-color: transparent;
}

.FeatheredCategoryFilter {
  background-color: #b2a2eb;
  border-color: #8c76db;
}

.FeatheredCategoryFilter:hover,
.FeatheredCategoryFilter:hover:active,
.FeatheredCategoryFilter:active,
.FeatheredCategoryFilter:focus {
  color: #242a3d;
  background-color: #8c76db;
  border-color: transparent;
}
