.CreateButton {
  background-color: #c1f7b4;
  border: 2px solid #9fe78d;
  padding: 10px 13px 7px 10px;
  margin: 12px;
}

.CreateButton:hover,
.CreateButton:hover:active,
.CreateButton:active,
.CreateButton:focus {
  background-color: #9fe78d;
  border-color: transparent;
  color: rgb(0, 0, 0, 0.9);
}
