.SearchBar input {
  border-radius: 10px;
  border: 2px solid #fce59b;
  background-color: #fffcf0;
  padding-left: 40px;
  margin-bottom: 5px;
}

.SearchIcon {
  position: absolute;
  height: 2.5rem;
  padding: 9px 15px;
  padding-left: 13px;
}

.SearchIcon:hover {
  cursor: default;
  color: #cfced3;
}

.FilterButton {
  color: rgb(0, 0, 0, 0.75);
  background-color: #ffefba;
  border: 2px solid #fce59b;
  padding: 10px 13px 7px 10px;
  width: 100%;
  margin-bottom: 10px;
}

.FilterButton:hover,
.FilterButton:hover:active,
.FilterButton:active,
.FilterButton:focus {
  background-color: #fce59b;
  border: 2px solid #fce59b;
  color: rgb(0, 0, 0, 0.9);
}

.CategoryFilterButton {
  color: rgb(0, 0, 0, 0.75);
  border: 2px solid;
  padding: 0;
  width: 100%;
  margin-bottom: 10px;
  font-weight: 500;
}

.FluffyCategoryFilter {
  background-color: #deceff;
  border-color: #b996ff;
}

.FluffyCategoryFilter:hover,
.FluffyCategoryFilter:hover:active,
.FluffyCategoryFilter:active,
.FluffyCategoryFilter:focus {
  background-color: #b996ff;
  color: #242a3d;
  border-color: transparent;
}

.ScalyCategoryFilter {
  background-color: #baf5ff;
  border-color: #97e9f8;
}

.ScalyCategoryFilter:hover,
.ScalyCategoryFilter:hover:active,
.ScalyCategoryFilter:active,
.ScalyCategoryFilter:focus {
  color: #242a3d;
  background-color: #97e9f8;
  border-color: transparent;
}

.FeatheredCategoryFilter {
  background-color: #c1f7b4;
  border-color: #9fe78d;
}

.FeatheredCategoryFilter:hover,
.FeatheredCategoryFilter:hover:active,
.FeatheredCategoryFilter:active,
.FeatheredCategoryFilter:focus {
  color: #242a3d;
  background-color: #9fe78d;
  border-color: transparent;
}
