.Post {
  background-color: #fffcf0;
  border: 2px solid #fce59b;
  border-radius: 10px;
  padding: 0.5rem;
  align-items: stretch;
}

.PostMeatballs {
  margin: 0 0 10px 0;
}

.CommentsButton {
  background-color: #fffcf0;
  border: none;
}

.CommentsButton:hover {
  background-color: #fffcf0;
  border: none;
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

.CommentsButton:hover:active {
  background-color: #fffcf0;
  border: none;
}

.CommentsButton:active {
  background-color: #fffcf0;
  border: none;
}

.CommentsButton:focus {
  background-color: #fffcf0;
  border: none;
}

.CommentsButtonImg {
  width: 64px;
  height: auto;
}

.CategoryTag {
  padding: 7px;
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.15),
    0 1px 1px rgba(0, 0, 0, 0.075);
}

.FluffyCategory {
  background-color: #deceff;
  border-radius: 5px;
}

.ScalyCategory {
  background-color: #baf5ff;
  border-radius: 5px;
}

.FeatheredCategory {
  background-color: #c1f7b4;
  border-radius: 5px;
}

.ReactionsBar {
  flex-wrap: wrap-reverse;
  height: auto;
}

@media screen and (min-width: 500px) {
  .ReactionsBar {
    flex-wrap: nowrap;
  }
}
