.CreateButton {
  background-color: #ffefba;
  border: 2px solid #fce59b;
  padding: 10px 13px 7px 10px;
  margin: 12px;
}

.CreateButton:hover,
.CreateButton:hover:active,
.CreateButton:active,
.CreateButton:focus {
  background-color: #fce59b;
  border-color: transparent;
  color: rgb(0, 0, 0, 0.9);
}
