.ReactionsOverlay {
  position: absolute;
  background-color: rgba(250, 76, 192, 0.85);
  padding: 2px 10px;
  color: white;
  border-radius: 3px;
}

.ReactionsContainer {
  display: flex;
  justify-content: center;
  align-self: center;
}

.Reaction {
  display: flex;
  flex-grow: 1;
}

.ReactionImg {
  cursor: pointer;
  max-height: 100%;
  width: 100%;
  max-width: 128px;
  min-width: 44px;
}

.ReactionImg:hover {
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

.ReactionButton {
  height: 100%;
  background-color: #fffcf0;
  border: none;
}

.ReactionButton:hover {
  background-color: #fffcf0;
  border: none;
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

.ReactionButton:hover:active,
.ReactionButton:active,
.ReactionButton:focus {
  background-color: #fffcf0;
  border: none;
}
