/* THIS IS DUPLICATE TO 'CONTENT' IN APP CSS */
.Post {
  background-color: #fffcf0;
  border: 2px solid #fce59b;
  border-radius: 10px;
  padding: 0.5rem;
}

.CommentsButton {
  background-color: #fffcf0;
  border: none;
}

.CommentsButton:hover {
  background-color: #fffcf0;
  border: none;
  transform: translateY(0.1rem);
  transition: transform 150ms;
}
