.DropdownMenu {
  min-width: 85px;
}

.DropdownItem {
  display: inline-block;
  max-width: 50%;
  padding: 0px;
}

.DropdownItem:hover,
.DropdownItem:hover:active,
.DropdownItem:active,
.DropdownItem:focus {
  background-color: transparent;
}

.Meatballs {
  cursor: pointer;
  padding: 0;
  background-color: #fffcf0;
  border: none;
  margin: 0 0 0 3px;
}

.Meatballs:hover,
.Meatballs:hover:active,
.Meatballs:active,
.Meatballs:focus {
  cursor: pointer;
  background-color: #fffcf0;
  border: none;
}

.EditProfileIcon {
  height: 44px;
  width: auto;
}
