.NavBar {
  font-weight: 500;
  background-color: #ffefba;
  border-bottom: 3px solid #fce59b;
  padding: 0 0.5rem;
}

.NavBrand {
  padding: 0px;
}

.NavIcon {
  margin: 3px;
}

.NavLink {
  color: rgb(0, 0, 0, 0.75);
  text-decoration: none;
  padding: 0.5rem;
}

.NavLink:hover {
  cursor: pointer;
  color: rgb(0, 0, 0, 0.9);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}
