.Owner {
  font-weight: bold;
  margin-right: 8px;
}

.Date {
  font-weight: 200;
  color: #494949;
}

.LikeCommentButton {
  background-color: #fffcf0;
  border: none;
}

.LikeCommentButton:hover {
  background-color: #fffcf0;
  border: none;
  transform: translateY(0.1rem);
  transition: transform 150ms;
}

.LikeCommentButton:hover:active,
.LikeCommentButton:active,
.LikeCommentButton:focus {
  background-color: #fffcf0;
  border: none;
}
