.Owner {
  font-weight: bold;
  margin-right: 8px;
}

.Date {
  font-weight: 200;
  color: #494949;
}

.LikeCommentImg {
  height: 44px;
  width: 44px;
}

.LikeCommentButton,
.LikeCommentButton:hover,
.LikeCommentButton:hover:active,
.LikeCommentButton:active,
.LikeCommentButton:focus {
  background-color: transparent;
  border: none;
}
