/* DUPLICATE CODE TO CREATE POST */
.Button {
  background-color: rgb(225, 162, 245);
  border-color: rgb(208, 98, 241);
}

.Button:hover {
  cursor: pointer;
  background-color: rgb(208, 98, 241);
  color: #242a3d;
}
