.App {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff4ce;
  min-height: 100vh;
}

.Main {
  padding-top: 65px;
  color: rgb(0, 0, 0, 0.75);
}

.Icon {
  margin: 3px;
}

.IconLink {
  color: rgb(0, 0, 0, 0.75);
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem;
}

.IconLink:hover {
  cursor: pointer;
  color: rgb(0, 0, 0, 0.9);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.PageLink {
  text-decoration: none;
  color: rgb(0, 0, 0, 0.75);
}

.PageLink:hover {
  color: rgb(0, 0, 0, 0.9);
  cursor: pointer;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.Content {
  background-color: #fffcf0;
  border: 2px solid #fce59b;
  border-radius: 10px;
  padding: 0.5rem;
}

* {
  box-sizing: border-box;
}

.Button {
  align-self: center;
  margin: 10px;
  padding: 5px 10px;
  background-color: #88d8c1;
  color: rgb(0, 0, 0, 0.75);
  border: 2px solid #5ea591;
  font-weight: 500;
}

.Button:hover {
  opacity: 0.8;
  background-color: #4db497;
  border-color: transparent;
}

.Button:hover:active {
  background-color: #4db497;
  border-color: transparent;
}

.Button:active {
  background-color: #4db497;
}

.Button:focus {
  background-color: #4db497;
}

.Large {
  padding: 10px 30px;
  font-size: 1.4rem;
}
