.App {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  background-color: #fff4ce;
  min-height: 100vh;
}

.Main {
  padding-top: 65px;
  color: rgb(0, 0, 0, 0.75);
}

.Icon {
  margin: 3px;
}

.IconLink {
  color: rgb(0, 0, 0, 0.75);
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem;
}

.IconLink:hover {
  cursor: pointer;
  color: rgb(0, 0, 0, 0.9);
  transform: translateY(-0.1rem);
  transition: transform 150ms;
}

.Image {
  max-height: 40vh;
  max-width: 100%;
  object-fit: contain;
}

.Content {
  background-color: #fffcf0;
  border: 2px solid #fce59b;
  border-radius: 10px;
  padding: 0.5rem;
}

* {
  box-sizing: border-box;
}
